
<!-- <script>$("#tinderslide").jTinder();</script> -->
  <div data-role="main" class="ui-content">
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
          <ul>
            <% if @restaurants %>
              <%@restaurants.each do |restaurant| %>
                <%= render partial: 'pane', locals:{restaurant: restaurant} ,layout: false  %>
              <% end %>
              <% end %>
          </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
    <!-- temp button to see if favorite routes/controller renders -->
        <%= link_to "Favorite", user_favorites_path(current_user), method: :post %>
        <!-- <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a> -->
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>
  </div>
<div id="navbar-container" data-role="footer">
    <div data-role="navbar" id="navbar-id">
        <ul>
          <li>
            <form method="get" action="/users/<%=1%>/favorites">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input class="fav-button" type="submit" name="Favorites">
            </form>
          </li>

          <li>
            <form method="get" action="/restaurants">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input class="home-button" type="submit" name="Home">
            </form>
          </li>

          <li>
            <form method="post" action="/sessions/<%=1 %>">
                <%= hidden_field_tag "_method", "delete"  %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input class="logout-button" type="submit" name="Logout">
            </form>
          </li>
        </ul>
      </div><!-- /navbar -->
</div>
