<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>





    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>WayToEat</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- jTinder initialization script -->
<!--     <script type="text/javascript" src="/js/main.js"></script> -->
</head>
    <!-- transform2d lib -->

<body>
  <div data-role="page" id="page1">
    <div data-role="header" class="header">
      <span id="title"><center><a style='text-decoration:none; color: black;'href="/">WayToEat</a></center></h1>
    </div>
    
  <%= yield %>

    <div id="navbar-container" data-role="footer">
      <% if logged_in? %>
      <div data-role="navbar" id="navbar-id">
          <ul>
            <li><a href="a.html">Profile</a></li>

            <li><a href="/users/<%=current_user.id%>/favorites">Favorites</a></li>
            <li><a href="b.html">Logout</a></li>

            <li><a href="b.html">Favorites</a></li>
            <form action="/sessions" method="post" id="logout-button">
              <li><input type="submit" value="Logout"></li>
          </form>

          </ul>
        </div><!-- /navbar -->
        <% end %>
    </div>
</div>

</div>
</body>
</html>